// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 3px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";


@media (max-width: 640px) {
    .leftbar {
        width: 100%;
        height: 100px;
    }
    .mainpanel {
        width: 100%;
        margin-top: 110px;
    }
}

@media (min-width: 640px) {
    .leftbar {
        width: 20%;
        height: 100%;
    }
    .mainpanel {
        margin-left: 25%;
        width: 70%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 860px) {
    .gfu-issue-detail-window {
        width: 100%;
        height: 100%;
    }
}


@media screen and (min-width: 861px) {
    .gfu-issue-detail-window {
        width: 50%;
    }
}


@mixin mytheme {
  @include valo;

  .centerpanel {
      background-color: rgba(255,255,255,0.8);
      .v-panel-content {
        padding: 15px;
      }
  }

  .mainpanel {
  }

  .leftbar {
      position: fixed;

      background-color: rgba(0,60,104,0.8);
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
  }

  .vacation {
      background-image: url('images/vacation.jpg');
      overflow-x: hidden;
      overflow-y: scroll;
  }

  .gfu-dashboard {

      .v-label {
          white-space: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          min-width: 250px;
      }

      .v-panel-content {
          overflow: hidden;
      }

      &[width-range~="-640px"] .v-panel {
          width: 100%;
          height: 100px;
      }

      &[width-range~="640-860px"] .v-panel {
            width: calc(50% - 20px);
            margin: 10px;
            height: 200px;
      }

      &[width-range~="860px-"] .v-panel {
            width: calc(33% - 20px);
            margin: 10px;
            height: 200px;
      }
  }

}
